<template name="battle">
  <div class="row text-center">
    <h2>{{battleInfo.title}}</h2>
    <p>Battle #<b>{{battleInfo._id}}</b></p>
    <hr />
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <h4>
      {{#if battleInfo.users.[0]}}
        <a href="/user/{{battleInfo.users.[0].userId}}">{{userNickname battleInfo.users.[0].userId}}</a>
      {{else}}
        Vodkar #1
      {{/if}}
      </h4>
      <div class="thumbnail" style="margin: 0px 100px;">
        {{#if battleInfo.users.[0]}}
          <img src="{{userVodkarModel battleInfo.users.[0].userId}}">
        {{else}}
          <img src="/images/no-avatar.png">
        {{/if}}
      </div>
      <div class="progress" style="margin: 10px 100px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{battleInfo.users.[0].currentHp}}" aria-valuemin="0" aria-valuemax="100" style="width: {{battleInfo.users.[0].currentHp}}%;">
          <span class="sr-only">{{battleInfo.users.[0].currentHp}} HP left</span>
        </div>
      </div>
      <div class="result" style="margin: 10px 100px;">
        <p>WPM: <span style="font-weight: bold;">{{battleInfo.users.[0].wpm}}</span></p>
        <p>Accuracy: <span style="font-weight: bold;">{{showPercentage battleInfo.users.[0].accuracy}}</span></p>
      </div>
    </div>
    <div class="col-md-4">
      {{#if isStarted}}
        <br />
        <p>Start time: <b>{{beautifyDate battleInfo.startTime}}</b></p>
        {{#if isEnded}}
        <p>End time: <b>{{beautifyDate battleInfo.endTime}}</b></p>
        <p>Winner: <b><a href="/user/{{battleInfo.winnerId}}">{{userNickname battleInfo.winnerId}}</a></b></p>
        {{/if}}
      {{else}}
      <div class="battle-info text-center">
        <br/> {{#unless isReady}}
        <p>{{> loading}}</p>
        <p>Waiting for Vodkars</p>
        {{/unless}}
        <p>Joined: <b>{{battleInfo.users.length}}</b>/2</p>
        <br/>
      </div>
      {{#if isJoined}}
      <button class="btn btn-block btn-danger btn-leave-battle">Leave</button>
      {{else}}
      <button class="btn btn-block btn-primary btn-join-battle">Join</button>
      {{/if}} {{/if}}
    </div>
    <div class="col-md-4 text-center">
      <h4>
      {{#if battleInfo.users.[1]}}
        <a href="/user/{{battleInfo.users.[1].userId}}">{{userNickname battleInfo.users.[1].userId}}</a>
      {{else}}
        Vodkar #2
      {{/if}}
      </h4>
      <div class="thumbnail" style="margin: 0px 100px;">
        {{#if battleInfo.users.[1]}}
          <img src="{{userVodkarModel battleInfo.users.[1].userId}}">
        {{else}}
          <img src="/images/no-avatar.png">
        {{/if}}
      </div>
      <div class="progress" style="margin: 10px 100px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{battleInfo.users.[1].currentHp}}" aria-valuemin="0" aria-valuemax="100" style="width: {{battleInfo.users.[1].currentHp}}%;">
          <span class="sr-only">{{battleInfo.users.[1].currentHp}} HP left</span>
        </div>
      </div>
      <div class="result" style="margin: 10px 100px;">
        <p>WPM: <span style="font-weight: bold;">{{battleInfo.users.[1].wpm}}</span></p>
        <p>Accuracy: <span style="font-weight: bold;">{{showPercentage battleInfo.users.[1].accuracy}}</span></p>
      </div>
    </div>
  </div>
  {{#if isStarted}}{{#if isJoined}}{{#unless isEnded}}
  <div class="row">
    <hr/>
    <div style="margin: 0px 30px;">
      <div class="panel-body">
        <p class="form-control" id="key">{{battleInfo.battleText}}</p>
        <input class="form-control txtbox" type="text">
      </div>
    </div>
  </div>
  {{/unless}}{{/if}}{{/if}}
</template>
